@import "tailwindcss";

@theme {
  --color-red: #7B1E3C; /* Boutons, titres */
  --color-gray: #1F1F1F; /* NavBar, texte */
  --color-beige: #F5ECE1; /* Fond, texte clair */
  --color-gold: #D4AF37; /* Accent, Icônes */
  
}