@import "tailwindcss";

@theme {
  --color-primary: #B91C1C; /* Actions, boutons, élements clés */
  --color-secondary: #F3F4F6; /* Arrière-plan de sections, zones secondaires */
  --color-background: #FAFAFA; /* Arrière-plan principal */
  --color-highlight: #F5EDE4; /* Mise en valeur douce (cards, promo) */
  --color-text: #1F2937; /* Texte principal */
}